@import 'tailwindcss';

@font-face {
  font-family: Estedad-FD;
  src: url(./fonts/Estedad-FD-Regular.woff2);
  width: 400;
}

@font-face {
  font-family: Estedad-FD;
  src: url(./fonts/Estedad-FD-Bold.woff2);
  width: 700;
}

@font-face {
  font-family: Estedad-FD;
  src: url(./fonts/Estedad-FD-Black.woff2);
  width: 900;
}

@font-face {
    font-family: Estedad;
    src: url(./fonts/Estedad-Regular.woff2);
    width: 400;
  }
  
  @font-face {
    font-family: Estedad;
    src: url(./fonts/Estedad-Bold.woff2);
    width: 700;
  }
  
  @font-face {
    font-family: Estedad;
    src: url(./fonts/Estedad-Black.woff2);
    width: 900;
  }
  

@theme {
  --font-sans: 'Estedad', sans-serif;
}

:lang(fa) {
  font-family: Estedad-FD;
}
:lang(en) {
  font-family: Estedad;
}
